@font-face {
  font-family: 'Didact';
  src: url('./assets/Didact_Gothic/DidactGothic-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Overpass';
  src: url('./assets/Overpass/Overpass-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: Overpass !important;
}
